{% extends "base.html.twig" %}

{% block body %}


	<div id="moorhun">
		<canvas id="moorhunField"></canvas>
		<div id="moorhunSplash"></div>
		<div id="moorhunKills"></div>
		<div id="moorhunPause"></div>
		<div id="moorhunPlay"></div>
		<div id="moorhunMenu">
			<div id="moorhunStart">
				<p>Start</p>
			</div>
		</div>
		<div id="moorhunClip"></div>
		<div id="moorhunReload">
			<p>Reload</p>
		</div>
	</div>
	<div id="crosshair"></div>
	<div id="warning"></div>
	<div id="fps"></div>
		<p id="inif"></p>
		<p id="outif"></p>

{% endblock %}
